.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100%;
}

.logo-div{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: auto;
    height: 100%;
}

.quotes-div{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phrase{
    width: 90%;
    height: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: #CCC;
    margin-bottom: 1%;
}

.author{
    width: 90%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #121412;
}

.change-quote{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-quote p{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: #CCC;
    font-size: 1.5em;
    font-weight: bold;
}

.buttons{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.buttons button{
    width: auto;
    height: 100%;
    padding: 1%;
    margin-right: 2%;
    background-color: #369457;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    color: #121412;
    border: none;
    font-weight: bold;
}

.buttons button:hover{
    cursor: pointer;
    background-color: #032202;
    color: #ccc;
}
